{% extends "auctions/layout.html" %}

{% block body %}

<h1> You can create your Listing below: </h1>


<form action="{% url 'add' %}" method="POST">
  {% csrf_token %}
  <div class="col-10">
    <div class="form-group">
        <!-- <input autofocus class="form-control" type="text" name="title" placeholder="Title"> -->
        {{ form.title }}
    </div>
    <div class="form-group">
        <!-- <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3"></textarea> -->
         {{ form.description }}
    </div>
    <div class="form-group">
        <!-- <input class="form-control" type="integer" name="bid" placeholder="Bid ($)"> -->
         {{ form.bid }}

        <select class="mt-2" name="category" id="">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.details }} ({{ category.code }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="picture">URL for an image:</label>
        <!-- <input autofocus class="form-control" type="text" name="picture" placeholder="URL"> -->
         {{ form.picture }}
    </div>
      <input class="btn btn-primary" type="submit" value="Create">
  </div>


</form>

{% endblock %}
