{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Category: {{ category_name }} ({{ category_id }})</h2>




    <!-- <p>{{ auctions_filtered_list }}</p> -->
    <div class="flex-container">
      {% for auctions in auctions_filtered_list %}
        {% for auction in auctions %}
        <div class="card">
          <img src="{{ auction.product.picture }}" />
          <div class="card-infos">
            <div>
              <h3>{{ auction.product.name }}</h3>
              <p>{{ auction.product.description }}</p>
            </div>
            <h3 class="card-pricing">{{ auction.bid.amount }}$</h3>
          </div>
        </div>
        {% endfor %}
      {% empty %}
        <p>No items.</p>
      {% endfor %}
    </div>


{% endblock %}
