{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>

    <div class="flex-container">
      <div class="flex-item">
        <h3>Title 1</h3>
        <img src="{% static 'auctions/pictures/pipeline.png' %}" alt="pipeline">

        <p>Description</p>
      </div>

      <div class="flex-item">
        <h3>Title 2</h3>
        <img src="{% static 'auctions/pictures/dna.png' %}" alt="pipeline">

        <p>Description 2</p>
      </div>

      <div class="flex-item">
        <h3>Title 3</h3>
        <img src="{% static 'auctions/pictures/default.jpeg' %}" alt="pipeline">

        <p>Description 3</p>
      </div>
    </div>
{% endblock %}
