{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2>Active Listings</h2>

    <div class="flex-container">
      {% for item in active_listing %}
        <div class="flex-item">
          <h3><a href="{% url 'page' item.id%}">{{ item.product.name }}</a></h3>
          <!-- <img src="{% static 'auctions/pictures/dna.png' %}" alt="dna"> -->
          <!-- <img src="https://amirn003.github.io/pictures/dna.png" alt="dna"> -->
          <img src="{{ item.product.picture }}" alt="dna">
          <p><b>{{ item.product.description }}</b></p>
          <p><b>{{ item.product.initial_price }} $</b></p>
          <p><i>{{ item.date }}</i></p>
        </div>
      {% endfor %}

    </div>
{% endblock %}
