{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

    <h2>Listing Page: {{ listing.id }}</h2>
    <div class="card">
      <img src="{{ listing.product.picture }}" />
      <div class="card-infos">
        <div>
          <h3>{{ listing.product.name }}</h3>
          <p>{{ listing.product.description }}</p>
        </div>
        <h3 class="card-pricing">{{ listing.product.initial_price }}$</h3>
      </div>
    </div>

    <a class="btn btn-page" href="{% url 'add_to_watchlist' listing.id%}">Add to Watchlist</a>
    <a class="btn btn-page" href="{% url 'remove_from_watchlist' listing.id%}">Remove from Watchlist</a>
{% endblock %}
